.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
}
.navLogo {
  position: absolute;
  width: 160px;
  left: 50px;
  top: -40px;
  float: left;
}

.desktopNavItem {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-right: 55px;
  padding-top: 20px;
}

.desktopNavItem:hover,.desktopNavItem:active {
  color: #333333
}

.mobileNavToggle{
  position: fixed;
  color: #8E6549;
  z-index: 102;
  bottom:20px;
  right: 20px;
}
.mobileNav {
  position: fixed;
  z-index: 100;
  bottom:0;
  width: 100%;
}
.mobileNavItem {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  color: #8E6549;
  font-weight: bold;
  font-size: 25px;
  justify-content: end;
  padding-top: 10px;
}
.mobileNavItem:hover, .mobileNavItem:active {
  color: #333333
}

.white {
  border-top: 1px solid #D9D9D9;
}