.desktopNavItem {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 20px;
}

.desktopNavItem:hover,.desktopNavItem:active {
  color: #333333
}

.mobileNavToggle{
  position: fixed;
  color: #8E6549;
  z-index: 102;
  bottom:20px;
  right: 20px;
}
.mobileNav {
  position: fixed;
  z-index: 100;
  bottom:0;
  width: 100%;
}
.mobileNavItem {
  background-color: #fff;
  text-decoration: none;
  color: #8E6549;
  font-weight: bold;
  font-size: 25px;
  justify-content: end;
  padding-top: 10px;
}
.mobileNavItem:hover, .mobileNavItem:active {
  color: #333333
}