.wave {
  position: absolute;
  z-index: 2;
  background: url('/images/waves/waves.svg') repeat-x; 
  top: -183px;
  height: 184px;
  width: 100%;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  overflow: hidden;
}

.upsideDownWave {
  position: absolute;
  z-index: 2;
  background: url('/images/waves/waves.svg') repeat-x;
  bottom: -183px;
  height: 184px;
  width: 100%;
  animation: wave 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: rotate(180deg);
  overflow: hidden;
}

@keyframes wave {
  0% {
    background-position-x: 2500px;
  }
  100% {
    background-position-x: 0;
  }
}
