html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spacer {
  aspect-ratio: 300/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave {
  position: absolute;
  background: url('../public/images/waves/waves.svg') repeat-x; 
  top: -160px;
  /* padding-top: 184px; */
  width: 5000px;
  height: 184px;
  animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  background-color: transparent;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1000px;
  }
}

.waveBottom {
  position: absolute;
  background: url('../public/images/waves/waves.svg') repeat-x; 
  bottom: -184px;
  height: 184px;
  width: 5000px;
  animation: wave 3s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  background-color: transparent;
  transform: rotate(180deg);
}


.wave1 {
  background-image: url('../public/images/waves/wavesHaiki.svg')
}

.wave2 {
  background-image: url('../public/images/waves/wavesHaiki2.svg')
}

.wave3 {
  background-image: url('../public/images/waves/wavesHaiki3.svg')
}

.flip {
  transform: rotate(180deg);
}

.backgroundWhite {
 background-color: #fff;
}

.backgroundBrown {
  background-color: #8E6549;
}

#featured, #projects, #about, #team, #contact, #footer {
  position: sticky;
  top: 0;
  min-height: 100%;
}

#team {
  margin-bottom: 400px;
}
