.waves {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  z-index: -1;
}
.logoBig {
  width: 100%;
  height: 100%;
  margin-top: 8%;
  margin-left: -15%;
}
@media (min-width: 1400px){
  .logoBig {
    margin-top: 0px;
    margin-left: -200px;
  }
}


/* PREWRITTEN */
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

